node_modules/
.auth/
config.ts
summary.txt
screenshots/
/test-results/
/playwright-report/
/playwright/.cache/
/tmp/
/data/tmp/
.DS_Store
tests/navigate/trade.nav.2.ui.spec.ts
tests/navigate/trade.nav.3.ui.spec.ts
tests/navigate/trade.nav.4.ui.spec.ts
tests/navigate/trade.nav.5.ui.spec.ts
data/~$trade-data-api.xlsx
tests/login.divesh.spec.ts
tests/navigate/trade.nav.6.ui.spec.ts
